<!-- Home Page -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid nav-contcnt">
        <a class="navbar-brand" href="#" style="color: #0f1113;"> <span style="font-weight: bold;">TEAMS 2.0</span></a>
        <div class="d-flex">
            <p class="m-0 px-3" style="font-weight: bold; color: #5F6368;">
                <%= user.name %>
            </p>
            <a class="icon" href="/logout">
                <button class="btn btn-sm btn-info" type="button">LOGOUT</button>
            </a>
        </div>
        <style>
            @media (max-width: 440px) {
                .nav-contcnt {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                }

                .new-meeting {
                    width: 125px;
                    white-space: nowrap;
                }
            }

        </style>
    </div>
</nav>
<div class="container py-5">
    <div class="row g-3">
        <div class="col-md-6">
            <h1 class="mb-3">
                Welcome to <strong>TEAMS 2.0</strong>
            </h1>
            <h4 style="color: #5F6368;">Video Conferencing now made easy !!</h4>
            <div class="a123 my-5" style="display: flex; ">
                <a class="btn btn-info new-meeting" style="width: 180px;" href="/new-meeting" role="button">NEW MEETING</a>
                <form action="join-room" style="margin-left: 1rem;" method="POST">
                    <div class="input-group ">
                        <span class="input-group-text" id="inputGroup-sizing-default">
                            <ion-icon name="add-circle-outline"></ion-icon>
                        </span>
                        <input name="room_id" type="text" class="form-control" placeholder="Enter a code or Link"
                            aria-label="Recipient's username" aria-describedby="button-addon2">
                        <button class="btn btn-info" type="submit" id="button-addon2">JOIN</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card" style="box-shadow: 0 0 5px #8a93e2;">
                <div class="card-body">
                    <img src="/images/ss.jpeg" width="100%" class="rounded" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
            <!-- Features Area-->          
            <section id="featured-services" class="featured-services">
                <div class="container" data-aos="fade-up">
          
                  <div class="row">
                    <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                      <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
                        <div class="icon"><i class="bx bxl-dribbble"></i></div>
                        <h4 class="title"><a>VIDEO CONFERENCING</a></h4>
                        <p class="description">Enables Video and Audio calling.</p>
                        <p class="description">Platform for event hosting and webinar.</p>
                      </div>
                    </div>
          
                    <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                      <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
                        <div class="icon"><i class="bx bx-file"></i></div>
                        <h4 class="title"><a>REAL TIME CHAT SYSTEM</a></h4>
                        <p class="description"> Allows Chat Coversations to take place between teams, groups, and individuals.</p>
                      </div>
                    </div>
          
                    <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                      <div class="icon-box" data-aos="fade-up" data-aos-delay="300">
                        <div class="icon"><i class="bx bx-tachometer"></i></div>
                        <h4 class="title"><a>RECORD MEETING</a></h4>
                        <p class="description">Easily record your meetings manually.</p>
                      </div>
                    </div>
          
                    <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                      <div class="icon-box" data-aos="fade-up" data-aos-delay="400">
                        <div class="icon"><i class="bx bx-world"></i></div>
                        <h4 class="title"><a>SCREEN SHARING</a></h4>
                        <p class="description">Easily share screen during the meeting with yuor attendees.</p>
                      </div>
                    </div>
          
                  </div>
          
                </div>
    <style>
        
            .card-body{
                width: 620px;
                display: block;
                margin-left: auto;
                margin-right: auto;
                padding-top: 30px;
                padding-bottom: 25px;
            }
            
            .card{
                background-color:whitesmoke;
            }
            
            .btn-primary {
                
                background-color: #6264a7;
                border-color: #6264a7;
                cursor: pointer;
                outline: none;
                color: #fff;
                
            }
            .btn-primary:hover{
                color: whitesmoke;
                background-color:  #5a51a8;
                border-color: #6264a7;
            }
            .btn-outline-primary {
                color: #6264a7;
                border-color: #6264a7;
                font-family: 'Poppins', sans-serif;
            }
            .btn-outline-primary:hover{
                color: whitesmoke;
                background-color:  #6264a7;
                border-color:#6264a7;
                
            }
            .btn-primary new-meeting{
                font-family: 'Poppins', sans-serif;
            }
            .bg-light{
                background-color:  #6264a7!important;
            }
            .featured-services .icon-box {
                padding: 30px;
                position: relative;
                overflow: hidden;
                background: #fff;
                box-shadow: 0 0 29px 0 rgba(68, 88, 144, 0.12);
                transition: all 0.3s ease-in-out;
                border-radius: 8px;
                z-index: 1;
                }
                .featured-services .icon-box::before {
                content: '';
                position: absolute;
                background: #cbe0fb;
                right: 0;
                left: 0;
                bottom: 0;
                top: 100%;
                transition: all 0.3s;
                z-index: -1;
                }
                .featured-services .icon-box:hover::before {
                background: #6264a7;
                top: 0;
                border-radius: 0px;
                }
                .featured-services .icon {
                margin-bottom: 15px;
                }
                .featured-services .icon i {
                font-size: 48px;
                line-height: 1;
                color: #6264a7;
                transition: all 0.3s ease-in-out;
                }
                .featured-services .title {
                font-weight: 700;
                margin-bottom: 15px;
                font-size: 18px;
                }
                .featured-services .title a {
                color: #111;
                }
                .featured-services .description {
                font-size: 15px;
                line-height: 28px;
                margin-bottom: 0;
                }
                .featured-services .icon-box:hover .title a, .featured-services .icon-box:hover .description {
                color: #fff;
                }
                .featured-services .icon-box:hover .icon i {
                color: #fff;
                }
    body {
        background-image:url("https://storage.pixteller.com/designs/designs-images/2019-03-27/05/simple-background-backgrounds-passion-simple-1-5c9b95d09002a.png");
        height: 600px;
        background-position: center; 
        background-repeat: no-repeat; 
        background-size: cover;
    }
</style>